doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(defer src='/js/bundle.js')
    title Start Vue

  body
    include ../../public/svg-symbols.svg

    #app
